h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}
span{
    font-family: "Space Grotesk", serif;
    font-weight: 500;
}