*{
    box-sizing: border-box;
}   
header{
    border: 2px solid blue;
    margin: auto;
    width:65%;
}

h3{
    text-align: center;
    margin: 0px;
}
img{
    display: block;
    margin: auto;
    width: 45px;
}
.container{
    margin:10px auto;
    width: 70%;
}
.para{
    display: inline-block;
    margin: auto;
    width: 33%;
    padding: 4px;
    border: 2px solid grey;
}

.para h2{
    text-align: center;
}